<!DOCTYPE html>
<html>
<head>

<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="">
    <h1>Simple Calculator</h1>
<input type="number" ng-model="num1">
<input type="number" ng-model="num2">
<button ng-click="result = num1 + num2">+</button>
<button ng-click="result = num1 - num2">-</button>
<button ng-click="result = num1 * num2">*</button>
<button ng-click="result = num1 / num2">/</button>
<div>Result: {{ result }}</div>
</body>
</html>